name: Build Manager

on:
  workflow_dispatch:
    inputs:
      target_branch:
        description: 构建分支
        required: true
        default: main
        type: choice
        options: [main, dev, ci]
      build_type:
        description: 构建类型
        required: true
        default: release
        type: choice
        options: [debug, release]
      enable_upload:
        description: 启用上传
        type: boolean
        default: true

  push:
    branches: [main, dev, ci]
    paths:
      - .github/workflows/build-manager.yml
      - manager/**
      - kernel/**
      - userspace/ksud/**

  pull_request:
    branches: [main, dev]
    paths:  # 正确格式示例
      - 'manager/**'     # 监控manager目录变化
      - 'kernel/**'      # 监控kernel目录变化
      - 'userspace/ksud/**'  # 监控ksud子目录
      - '.github/workflows/build-manager.yml'  # 监控自身工作流文件

jobs:
  build-lkm:
    uses: ./.github/workflows/build-lkm.yml
    secrets: inherit

  build-ksud:
    needs: build-lkm
    strategy:
      matrix:
        - target: aarch64-linux-android
          os: ubuntu-latest
        - target: x86_64-linux-android
          os: ubuntu-latest
    uses: ./.github/workflows/ksud.yml
    with:
      target: ${{ matrix.target }}
      os: ${{ matrix.os }}

  build-ksud-extra:
    needs: build-lkm
    strategy:
      matrix:
        - target: x86_64-pc-windows-gnu
          os: ubuntu-latest
        - target: x86_64-apple-darwin
          os: macos-latest
        - target: aarch64-apple-darwin
          os: macos-latest
        - target: aarch64-unknown-linux-musl
          os: ubuntu-latest
        - target: x86_64-unknown-linux-musl
          os: ubuntu-latest
    uses: ./.github/workflows/ksud.yml
    with:
      target: ${{ matrix.target }}
      os: ${{ matrix.os }}

  build-manager:
    needs: build-ksud
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./manager

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.target_branch || github.ref }}

      - name: Setup upload flag
        id: need_upload
        run: |
          echo "UPLOAD=$(( secrets.BOT_TOKEN != '' ))" >> $GITHUB_OUTPUT

      - name: Write key
        if: ${{ (github.event_name != 'pull_request' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')) || github.ref_type == 'tag' || github.event_name == 'workflow_dispatch' }}
        run: |
          if [ -n "$secrets.KEYSTORE" ]; then
            echo "KEYSTORE_PASSWORD=$secrets.KEYSTORE_PASSWORD" >> gradle.properties
            echo "KEY_ALIAS=$secrets.KEY_ALIAS" >> gradle.properties
            echo "KEY_PASSWORD=$secrets.KEY_PASSWORD" >> gradle.properties
            echo "KEYSTORE_FILE=key.jks" >> gradle.properties
            echo "$secrets.KEYSTORE" | base64 -d > key.jks
          fi

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Download artifacts
        run: |
          actions-download-artifact@v6 -n ksud-aarch64-linux-android -p .
          actions-download-artifact@v6 -n ksud-x86_64-linux-android -p .

      - name: Copy native libs
        run: |
          mkdir -p app/src/main/jniLibs/{arm64-v8a,x86_64}
          cp -f ../aarch64-linux-android/release/ksud app/src/main/jniLibs/arm64-v8a/libksud.so
          cp -f ../x86_64-linux-android/release/ksud app/src/main/jniLibs/x86_64/libksud.so

      - name: Build
        run: ./gradlew clean assembleRelease

      - name: Upload artifacts
        if: ${{ (github.event_name != 'pull_request' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')) || github.ref_type == 'tag' || github.event_name == 'workflow_dispatch' }}
        uses: actions/upload-artifact@v5
        with:
          name: manager
          path: manager/app/build/outputs/apk/release/*.apk

      - name: Upload mappings
        if: ${{ (github.event_name != 'pull_request' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')) || github.ref_type == 'tag' || github.event_name == 'workflow_dispatch' }}
        uses: actions/upload-artifact@v5
        with:
          name: mappings
          path: manager/app/build/outputs/mapping/release/

      - name: Cache bot session
        if: github.event_name != 'pull_request' && steps.need_upload.outputs.UPLOAD == 'true'
        id: bot_session_cache
        uses: actions/cache@v4
        with:
          path: scripts/ksubot.session
          key: ${{ runner.os }}-bot-session

      - name: Telegram upload
        if: github.event_name != 'pull_request' && steps.need_upload.outputs.UPLOAD == 'true'
        env:
          CHAT_ID: $secrets.CHAT_ID
          BOT_TOKEN: $secrets.BOT_TOKEN
          MESSAGE_THREAD_ID: $secrets.MESSAGE_THREAD_ID
          COMMIT_MESSAGE: $github.event.head_commit.message
          COMMIT_URL: $github.event.head_commit.url
          RUN_URL: $github.server_url/$github.repository/actions/runs/$github.run_id
          TITLE: Manager
          BRANCH: $github.ref_name
        run: |
          if [ -n "$secrets.BOT_TOKEN" ]; then
            APK=$(find ./app/build/outputs/apk/release -name "*.apk")
            pip3 install telethon
            python3 $GITHUB_WORKSPACE/scripts/ksubot.py $APK
          fi
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Download artifacts
        run: |
          actions-download-artifact@v6 -n ksud-aarch64-linux-android -p .
          actions-download-artifact@v6 -n ksud-x86_64-linux-android -p .

      - name: Copy native libs
        run: |
          mkdir -p app/src/main/jniLibs/{arm64-v8a,x86_64}
          cp -f ../aarch64-linux-android/release/ksud app/src/main/jniLibs/arm64-v8a/libksud.so
          cp -f ../x86_64-linux-android/release/ksud app/src/main/jniLibs/x86_64/libksud.so

      - name: Build
        run: ./gradlew clean assembleRelease

      - name: Upload artifacts
        if: ${{ (github.event_name != 'pull_request' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')) || github.ref_type == 'tag' || github.event_name == 'workflow_dispatch' }}
        uses: actions/upload-artifact@v5
        with:
          name: manager
          path: manager/app/build/outputs/apk/release/*.apk

      - name: Upload mappings
        if: ${{ (github.event_name != 'pull_request' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev')) || github.ref_type == 'tag' || github.event_name == 'workflow_dispatch' }}
        uses: actions/upload-artifact@v5
        with:
          name: mappings
          path: manager/app/build/outputs/mapping/release/

      - name: Cache bot session
        if: github.event_name != 'pull_request' && steps.need_upload.outputs.UPLOAD == 'true'
        id: bot_session_cache
        uses: actions/cache@v4
        with:
          path: scripts/ksubot.session
          key: ${{ runner.os }}-bot-session

      - name: Telegram upload
        if: github.event_name != 'pull_request' && steps.need_upload.outputs.UPLOAD == 'true'
        env:
          CHAT_ID: $secrets.CHAT_ID
          BOT_TOKEN: $secrets.BOT_TOKEN
          MESSAGE_THREAD_ID: $secrets.MESSAGE_THREAD_ID
          COMMIT_MESSAGE: $github.event.head_commit.message
          COMMIT_URL: $github.event.head_commit.url
          RUN_URL: $github.server_url/$github.repository/actions/runs/$github.run_id
          TITLE: Manager
          BRANCH: $github.ref_name
        run: |
          if [ -n "$secrets.BOT_TOKEN" ]; then
            APK=$(find ./app/build/outputs/apk/release -name "*.apk")
            pip3 install telethon
            python3 $GITHUB_WORKSPACE/scripts/ksubot.py $APK
          fi
